.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-color: #191414;
  color: #1db954;
}

.player-grid {
  display: inline-grid;
  grid-template-columns: [player-col-1] 10px [player-col-2] 10px [player-col-3] 35px [player-col-4] 20px [player-col-5] 50px [player-col-6] 20px [player-col-7] 35px [player-col-8] 10px [player-col-9] 10px [player-col-end] 0px;
  grid-template-rows: [player-row-1] 50px [player-row-2] auto [player-row-3] 40px [player-row-4] 15px;
  width: 200px;
  height: 350px;
}

.btn {
  background-color: #1db954;
}

.icon {
  filter: brightness(0) invert(0.75);
}

.icon:hover {
  filter: brightness(0) invert(1);
}

/* #logo {
  margin-top: 20px;
  height: 100%;
} */

#artwork {
  width: 200px;
  height: 200px;
  display: block;
}

#resume {
  background-image: url('http://localhost:3000/play-button.svg');
  width: 35px;
  height: 35px;
  display: block;
}

#pause {
  background-image: url('http://localhost:3000/pause-button.svg');
  width: 35px;
  height: 35px;
  display: block;
}

#next {
  background-image: url('http://localhost:3000/next-button.svg');
  width: 15px;
  height: 15px;
  display: block;
}

#previous {
  background-image: url('http://localhost:3000/previous-button.svg');
  width: 15px;
  height: 15px;
  display: block;
}

/* .logo-container-outer {
  grid-column-start: player-col-3;
  grid-column-end: player-col-8;
  grid-row-start: player-row-1;
}

.logo-container-inner {
  height: 25px;
} */

.artwork-container {
  grid-column-start: player-col-2;
  grid-column-end: player-col-end;
  grid-row-start: player-row-2;
  grid-row-end: player-row-3;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.resume-container {
  grid-column-start: player-col-5;
  grid-column-end: player-col-6;
  grid-row-start: player-row-3;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.pause-container {
  grid-column-start: player-col-5;
  grid-column-end: player-col-6;
  grid-row-start: player-row-3;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.previous-container {
  grid-column-start: player-col-3;
  grid-column-end: player-col-4;
  grid-row-start: player-row-3;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.next-container {
  grid-column-start: player-col-7;
  grid-column-end: player-col-8;
  grid-row-start: player-row-3;
  width: 100%;
  height: 100%;
  display: inline-block;
}

#playback-slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 2px;
}

.playback-slider-container {
  grid-column-start: player-col-2;
  grid-column-end: player-col-end;
  grid-row-start: player-row-4;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  height: 7px;
  width: 7px;
  background-color: #ffffff;
  border-radius: 40%;
}
